@import "tailwindcss";

.active{
    width: 3px;
    color: rgba(255, 255, 255, 0.692);
    border-bottom: 1px solid rgba(255, 255, 255, 0.685);
    padding-bottom: 5px;
    
}

.imghover:hover{
    transform: scale(1.5);
    transition: all 0.3s;
}

.move{
    animation: forward 1s infinite linear;
}

textarea{
    resize: none;
}

@keyframes forward {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width:1220px) {

    .mobile-text{
        text-align: center;
    }
    .footer-social{
        justify-content: center;
    }

}

@media (max-width:880px) {

    .mobile-cart{
        width: 60rem;
        
    }

}
@media (max-width:727px) {

    .mobile-cart{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        border: none;
        
    }

}

@media (max-width:640px) {

    .phone{
        padding-left: 30px;
        padding-right: 35px;
    }
    .option{
        right: 120px;
    }

    .hide{
        display: none;
    }
    .gap-box{
        gap: 15px;
    }
    .width-phone{
        width: 14rem;
    }
    .test-box{
        width: 90vw;
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .center{
        text-align: center;
    }
    .mybox{
        justify-content: left;
    }
    .mobile-text{
        text-align: center;
    }
    .footer-social{
        justify-content: center;
    }

    .mobile-width{
        width: 70vw;
    }
    .mobile{
        width: 30vw;
    }
    .mobile-cart-text{
        font-size: 3.5vw;
        font-weight: 600;
    }
    .mobile-cart-desc{
        font-size: 2.7vw;
    }
    
    
}

@media (max-width:455px) {
    .hide1{
        display: none;
    }
    .pl-mobile{
        padding-left: 5px;
    }
    .mobile-text{
        text-align: center;
    }
    .footer-social{
        justify-content: center;
    }
    .mobile-width{
        width: 20rem;
    }
    .mobile-cart-text{
        font-size: 2vw;
    }
}

@media (max-width:360px) {

    .mobile-size{
        flex-wrap: wrap;
    }
    .mobile{
        width: 40vw;
    }
    .mobile-cart-text{
        font-size: 5vw;
        font-weight: 600;
    }
    .mobile-cart-desc{
        font-size: 3.5vw;
    }
}